<header class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Spend Smart</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/index">Dashboard <span class="sr-only">(current)</span></a></li>
                    <li><a href="/budget">Budget</a></li>
                    <li><a href="/expenses">Expenses</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.fullname}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" id="logout-link">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
<main class="container main-padding main-min-height">
    <input type="hidden" value='{{asJSON data}}' id="data">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {{#if data.hasCurrent}}
            <div id="budget_div">Please wait...</div>
            {{else}}
            <div class="jumbotron">
                <h1>No data for current month</h1>
                <p>Add some exepenses and budget for current month to see expense vs budget.</p>
                <p><a class="btn btn-primary btn-lg" href="/expenses" role="button">Add Expenses</a>
                <a class="btn btn-primary btn-lg" href="/budget" role="button">Add Budget</a>
                </p>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="daily_div">Please wait...</div>
        </div>
        <div class="col-md-6">
            <div id="monthly_div">Please wait...</div>
        </div>
    </div>
</main>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/public/javascripts/dashboard.js"></script>