<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel='stylesheet' href='/public/css/main.css'/>
</head>
<body>
<header class="container">
    <h1>Spend Smart</h1>
</header>
<main class="container">
    {{{body}}}
</main>
<footer class="container">
    <table class="table-condensed table-wide">
        <tr>
            <td>
                <p>
                    <a href="mailto:psharm8@stevens.edu">Puneet Sharma</a> | <a href="mailto:sbaratha@stevens.edu">Sindhu
                    Barathan</a> | <a href="mailto:wzeng7@stevens.edu">Weijing Zeng</a> | <a
                        href="mailto:apatil11@stevens.edu">Anurag Patil</a> | <a href="mailto:ydave1@stevens.edu">Yesha
                    Dave</a> | <a href="mailto:rvaz@stevens.edu">Raylisa Vaz</a>
                </p>
            </td>
            <td class="text-right">
                <p>
                    Ver: 1.0.0
                </p>
            </td>
        </tr>
    </table>
</footer>
</body>
</html>
