<!DOCTYPE html>
<html>
<head>
    <title>Spend Smart</title>

    
    <link rel='stylesheet' href='/public/css/main.css'/>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
            <link rel='stylesheet' href='/public/css/main.css'/>
	
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
{{{body}}}
<footer class="container border-top">
    <table class="table-condensed table-wide">
        <tr>
            <td>
                <p>
                    <a href="mailto:psharm8@stevens.edu">Puneet Sharma</a> | <a href="mailto:sbaratha@stevens.edu">Sindhu
                    Barathan</a> | <a href="mailto:wzeng7@stevens.edu">Weijing Zeng</a> | <a
                        href="mailto:apatil11@stevens.edu">Anurag Patil</a> | <a href="mailto:ydave1@stevens.edu">Yesha
                    Dave</a> | <a href="mailto:rvaz@stevens.edu">Raylisa Vaz</a>
                </p>
            </td>
            <td class="text-right">
                <p>
                    Ver: 1.0.0
                </p>
            </td>
        </tr>
    </table>
</footer>
</body>
</html>
