<!DOCTYPE html>
<html>
<head>
    <title>Spend Smart</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
          <link rel='stylesheet' href='/public/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'/>
    <link rel='stylesheet' href='/public/css/main.css'/>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>
<body>
{{{body}}}
<footer class="container border-top">
    <table class="table-condensed table-wide">
        <tr>
            <td>
                <p>
                    <a href="mailto:psharm8@stevens.edu">Puneet Sharma</a> | <a href="mailto:sbaratha@stevens.edu">Sindhu
                    Barathan</a> | <a href="mailto:wzeng7@stevens.edu">Weijing Zeng</a> | <a
                        href="mailto:apatil11@stevens.edu">Anurag Patil</a> | <a href="mailto:ydave1@stevens.edu">Yesha
                    Dave</a> | <a href="mailto:rvaz@stevens.edu">Raylisa Vaz</a>
                </p>
            </td>
            <td class="text-right">
                <p>
                    Ver: 1.0.0
                </p>
            </td>
        </tr>
    </table>
</footer>
</body>
<script src="/public/javascripts/logout.js"></script>
</html>
