<div class="form-group">
    <form method="post">
        <label for="email">
            <input type="text" name="email" autofocus>
        </label>
        <button type="submit" class="btn-primary">Reset Password</button>
    </form>
</div>