<div class="form-group">
    <form method="post">
        <div class="form-group">
            <label for="password"> New Password
                <input class="form-control" type="password" name="password" value="" placeholder="Password" autofocus>
            </label>
        </div>
        <div class="form-group">
            <label for="confirm_password"> Confirm Password
                <input class="form-control" type="password" name="confirm_password" value=""
                       placeholder="Confirm Password">
            </label>
        </div>
        <div class="form-group">
            <button class="btn-primary">Update Password</button>
        </div>
    </form>
</div>